body {
	background-color: #222; /* Background color */
	color: #FFF;
	/* Foreground color used for text */
	font-family: Helvetica;
	font-size: 14px;
	font-color: #FFF;
	margin: 0;
	/* Amount of negative space around the
	outside of the body */
	padding: 0;
	/* Amount of negative space around the
	inside of the body */
}

.hidden {
	visibility: hidden;
	height: 0px;
	width: 0px;
	display: none;
}

.list {
	visibility: visible;
}

#projlist {
	visibility: hidden;
}

.visible {
	visibility: visible;
}

a:link {
	color:#00FF00;
}
a:visited {
	color:#00FF00;
}
a:hover {
	color:#00FF00;
}
a:active {
	color:#00FF00;
}
