body {
	background-color: #222; /* Background color */
	color: #FFF;
	/* Foreground color used for text */
	/*
	font-family: Helvetica;
	font-size: 14px;
	font-color: #FFF;
	*/
	margin: 0;
	/* Amount of negative space around the
	outside of the body */
	padding: 0;
	width: 100%;
	/* Amount of negative space around the
	inside of the body */
}

.hidden {
	visibility: hidden;
	display: none;
}

.list {
	visibility: visible;
}

#projlist {
	visibility: hidden;

}

.visible {
	visibility: visible;
	display: inline;
}

a:link {
	color:#00FF00;
}
a:visited {
	color:#00FF00;
}
a:hover {
	color:#00FF00;
}
a:active {
	color:#00FF00;
}

.cleft {
	padding:1px 0;
	float:left;
	width:30%;
} 
.cright {
	padding:1px 0;
	margin-left:30%;
} 
.hrow {
	width: 100%;
	display: block;
}
#jqt li.addli {
	background-color: #111;
	background-image: ;
}
.menu {
	background-color: #333;
}
.menu .right {
	width: 50%;
	padding: 0;
	margin: 0;
	margin-left: 50%;
}
.menu .left {
	padding: 0;
	margin: 0;
	width: 50%;
	float: left;
}

.biginput {
	width: 100%;
	position: center;
	background-color: #333;
	font-family: Helvetica;
	font-size: 20px;
	font-color: #FFF;
}
.inputbox {
	width: 70%;
	position: center;
}
.ulti {
	padding-top: 30px;
	padding-bottom: 30px;
}


.buddy {
	color: #F88;
}
.money {
	color: #8F8;
}
