body {
	background-color: #222; /* Background color */
	color: #FFF;
	/* Foreground color used for text */
	/*
	font-family: Helvetica;
	font-size: 14px;
	font-color: #FFF;
	*/
	margin: 0;
	/* Amount of negative space around the
	outside of the body */
	padding: 0;
	width: 100%;
	/* Amount of negative space around the
	inside of the body */
	/* overflow is supposed to help with animations and scrolling: 
	overflow: hidden;
	 * */
}

.hidden {
	visibility: hidden;
	display: none;
}

.list {
	visibility: visible;
}

#projlist {
	visibility: hidden;

}

.visible {
	visibility: visible;
	display: inline;
}

/*
a:link {
	color:#00FF00;
}
a:visited {
	color:#00FF00;
}
a:hover {
	color:#00FF00;
}
a:active {
	color:#00FF00;
}
*/

.cleft {
	padding:1px 0;
	float:left;
	width:30%;
} 
.cright {
	padding:1px 0;
	margin-left:30%;
} 
.hrow {
	width: 100%;
	display: block;
}
/*
#jqt li.rmli {
	text-align: center;
	background-color: #866;
}
#jqt li.addli {
	text-align: center;
	background-color: #668;
}
*/
div.menu, ul.menu, li.menu {
	padding: 0;
	margin: 0;
}
.menu .right {
	width: 50%;
	padding: 0;
	margin: 0;
	margin-left: 50%;
}
.menu .left {
	padding: 0;
	margin: 0;
	width: 50%;
	float: left;
}

.biginput {
	width: 100%;
}
.inputbox {
	width: 70%;
	position: center;
}
.ulti {
	padding-top: 30px;
	padding-bottom: 30px;
}

.title {
	padding-top: 15px;
	padding-bottom: 0px;
	text-align: center;
	font-weight: bold;
	font-size: 20px;
}

.buddy {
	color: #F88;
}
.money {
	color: #8F8;
}
.addbutton {
	color: none;
}

.toolbar h1 a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3em;
	text-align: center;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: white;
	text-shadow: #161717 0 -1px 0;
} 

/* FIXME find equiv for other browsers */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
